/venv/
/.idea/
/core/temp.py
*/__pycache__/
*.sqlite3
test.html
*.bak
/.vscode/
.env
**/migrations/__pycache__
app/management/commands/loadsubjecttable.py
app/migrations/0002_subject_ltp.py
app/migrations/0003_subject_credit.py
app/migrations/0004_auto_20210321_0147.py
app/migrations/0005_auto_20210321_0153.py
app/migrations/0006_auto_20210321_0225.py
collectstatic/admin/css/autocomplete.css
collectstatic/admin/css/base.css
collectstatic/admin/css/changelists.css
collectstatic/admin/css/dashboard.css
collectstatic/admin/css/fonts.css
collectstatic/admin/css/forms.css
collectstatic/admin/css/login.css
collectstatic/admin/css/nav_sidebar.css
collectstatic/admin/css/responsive_rtl.css
collectstatic/admin/css/responsive.css
collectstatic/admin/css/rtl.css
collectstatic/admin/css/widgets.css
collectstatic/admin/css/vendor/select2/LICENSE-SELECT2.f94142512c91.md
collectstatic/admin/css/vendor/select2/LICENSE-SELECT2.md
collectstatic/admin/css/vendor/select2/select2.a2194c262648.css
collectstatic/admin/css/vendor/select2/select2.css
collectstatic/admin/css/vendor/select2/select2.min.9f54e6414f87.css
collectstatic/admin/css/vendor/select2/select2.min.css
collectstatic/admin/fonts/LICENSE.txt
collectstatic/admin/fonts/README.txt
collectstatic/admin/fonts/Roboto-Bold-webfont.woff
collectstatic/admin/fonts/Roboto-Light-webfont.woff
collectstatic/admin/fonts/Roboto-Regular-webfont.woff
collectstatic/admin/img/calendar-icons.svg
collectstatic/admin/img/icon-addlink.svg
collectstatic/admin/img/icon-alert.svg
collectstatic/admin/img/icon-calendar.svg
collectstatic/admin/img/icon-changelink.svg
collectstatic/admin/img/icon-clock.svg
collectstatic/admin/img/icon-deletelink.svg
collectstatic/admin/img/icon-no.svg
collectstatic/admin/img/icon-unknown-alt.svg
collectstatic/admin/img/icon-unknown.svg
collectstatic/admin/img/icon-viewlink.svg
collectstatic/admin/img/icon-yes.svg
collectstatic/admin/img/inline-delete.svg
collectstatic/admin/img/LICENSE
collectstatic/admin/img/README.txt
collectstatic/admin/img/search.svg
collectstatic/admin/img/selector-icons.svg
collectstatic/admin/img/sorting-icons.svg
collectstatic/admin/img/tooltag-add.svg
collectstatic/admin/img/tooltag-arrowright.svg
collectstatic/admin/img/gis/move_vertex_off.svg
collectstatic/admin/img/gis/move_vertex_on.svg
collectstatic/admin/js/actions.js
collectstatic/admin/js/actions.min.js
collectstatic/admin/js/autocomplete.js
collectstatic/admin/js/calendar.js
collectstatic/admin/js/cancel.js
collectstatic/admin/js/change_form.js
collectstatic/admin/js/collapse.js
collectstatic/admin/js/collapse.min.js
collectstatic/admin/js/core.js
collectstatic/admin/js/inlines.js
collectstatic/admin/js/inlines.min.js
collectstatic/admin/js/jquery.init.js
collectstatic/admin/js/nav_sidebar.js
collectstatic/admin/js/popup_response.js
collectstatic/admin/js/prepopulate_init.js
collectstatic/admin/js/prepopulate.js
collectstatic/admin/js/prepopulate.min.js
collectstatic/admin/js/SelectBox.js
collectstatic/admin/js/SelectFilter2.js
collectstatic/admin/js/urlify.js
collectstatic/admin/js/admin/DateTimeShortcuts.js
collectstatic/admin/js/admin/RelatedObjectLookups.js
collectstatic/admin/js/vendor/jquery/jquery.23c7c5d2d131.js
collectstatic/admin/js/vendor/jquery/jquery.js
collectstatic/admin/js/vendor/jquery/jquery.min.dc5e7f18c8d3.js
collectstatic/admin/js/vendor/jquery/jquery.min.js
collectstatic/admin/js/vendor/jquery/LICENSE.75308107741f.txt
collectstatic/admin/js/vendor/jquery/LICENSE.txt
collectstatic/admin/js/vendor/select2/LICENSE.f94142512c91.md
collectstatic/admin/js/vendor/select2/LICENSE.md
collectstatic/admin/js/vendor/select2/select2.full.c2afdeda3058.js
collectstatic/admin/js/vendor/select2/select2.full.js
collectstatic/admin/js/vendor/select2/select2.full.min.fcd7500d8e13.js
collectstatic/admin/js/vendor/select2/select2.full.min.js
collectstatic/admin/js/vendor/select2/i18n/af.4f6fcd73488c.js
collectstatic/admin/js/vendor/select2/i18n/af.js
collectstatic/admin/js/vendor/select2/i18n/ar.65aa8e36bf5d.js
collectstatic/admin/js/vendor/select2/i18n/ar.js
collectstatic/admin/js/vendor/select2/i18n/az.270c257daf81.js
collectstatic/admin/js/vendor/select2/i18n/az.js
collectstatic/admin/js/vendor/select2/i18n/bg.39b8be30d4f0.js
collectstatic/admin/js/vendor/select2/i18n/bg.js
collectstatic/admin/js/vendor/select2/i18n/bn.6d42b4dd5665.js
collectstatic/admin/js/vendor/select2/i18n/bn.js
collectstatic/admin/js/vendor/select2/i18n/bs.91624382358e.js
collectstatic/admin/js/vendor/select2/i18n/bs.js
collectstatic/admin/js/vendor/select2/i18n/ca.a166b745933a.js
collectstatic/admin/js/vendor/select2/i18n/ca.js
collectstatic/admin/js/vendor/select2/i18n/cs.4f43e8e7d33a.js
collectstatic/admin/js/vendor/select2/i18n/cs.js
collectstatic/admin/js/vendor/select2/i18n/da.766346afe4dd.js
collectstatic/admin/js/vendor/select2/i18n/da.js
collectstatic/admin/js/vendor/select2/i18n/de.8a1c222b0204.js
collectstatic/admin/js/vendor/select2/i18n/de.js
collectstatic/admin/js/vendor/select2/i18n/dsb.56372c92d2f1.js
collectstatic/admin/js/vendor/select2/i18n/dsb.js
collectstatic/admin/js/vendor/select2/i18n/el.27097f071856.js
collectstatic/admin/js/vendor/select2/i18n/el.js
collectstatic/admin/js/vendor/select2/i18n/en.cf932ba09a98.js
collectstatic/admin/js/vendor/select2/i18n/en.js
collectstatic/admin/js/vendor/select2/i18n/es.66dbc2652fb1.js
collectstatic/admin/js/vendor/select2/i18n/es.js
collectstatic/admin/js/vendor/select2/i18n/et.2b96fd98289d.js
collectstatic/admin/js/vendor/select2/i18n/et.js
collectstatic/admin/js/vendor/select2/i18n/eu.adfe5c97b72c.js
collectstatic/admin/js/vendor/select2/i18n/eu.js
collectstatic/admin/js/vendor/select2/i18n/fa.3b5bd1961cfd.js
collectstatic/admin/js/vendor/select2/i18n/fa.js
collectstatic/admin/js/vendor/select2/i18n/fi.614ec42aa9ba.js
collectstatic/admin/js/vendor/select2/i18n/fi.js
collectstatic/admin/js/vendor/select2/i18n/fr.05e0542fcfe6.js
collectstatic/admin/js/vendor/select2/i18n/fr.js
collectstatic/admin/js/vendor/select2/i18n/gl.d99b1fedaa86.js
collectstatic/admin/js/vendor/select2/i18n/gl.js
collectstatic/admin/js/vendor/select2/i18n/he.e420ff6cd3ed.js
collectstatic/admin/js/vendor/select2/i18n/he.js
collectstatic/admin/js/vendor/select2/i18n/hi.70640d41628f.js
collectstatic/admin/js/vendor/select2/i18n/hi.js
collectstatic/admin/js/vendor/select2/i18n/hr.a2b092cc1147.js
collectstatic/admin/js/vendor/select2/i18n/hr.js
collectstatic/admin/js/vendor/select2/i18n/hsb.fa3b55265efe.js
collectstatic/admin/js/vendor/select2/i18n/hsb.js
collectstatic/admin/js/vendor/select2/i18n/hu.6ec6039cb8a3.js
collectstatic/admin/js/vendor/select2/i18n/hu.js
collectstatic/admin/js/vendor/select2/i18n/hy.c7babaeef5a6.js
collectstatic/admin/js/vendor/select2/i18n/hy.js
collectstatic/admin/js/vendor/select2/i18n/id.04debded514d.js
collectstatic/admin/js/vendor/select2/i18n/id.js
collectstatic/admin/js/vendor/select2/i18n/is.3ddd9a6a97e9.js
collectstatic/admin/js/vendor/select2/i18n/is.js
collectstatic/admin/js/vendor/select2/i18n/it.be4fe8d365b5.js
collectstatic/admin/js/vendor/select2/i18n/it.js
collectstatic/admin/js/vendor/select2/i18n/ja.170ae885d74f.js
collectstatic/admin/js/vendor/select2/i18n/ja.js
collectstatic/admin/js/vendor/select2/i18n/ka.2083264a54f0.js
collectstatic/admin/js/vendor/select2/i18n/ka.js
collectstatic/admin/js/vendor/select2/i18n/km.c23089cb06ca.js
collectstatic/admin/js/vendor/select2/i18n/km.js
collectstatic/admin/js/vendor/select2/i18n/ko.e7be6c20e673.js
collectstatic/admin/js/vendor/select2/i18n/ko.js
collectstatic/admin/js/vendor/select2/i18n/lt.23c7ce903300.js
collectstatic/admin/js/vendor/select2/i18n/lt.js
collectstatic/admin/js/vendor/select2/i18n/lv.08e62128eac1.js
collectstatic/admin/js/vendor/select2/i18n/lv.js
collectstatic/admin/js/vendor/select2/i18n/mk.dabbb9087130.js
collectstatic/admin/js/vendor/select2/i18n/mk.js
collectstatic/admin/js/vendor/select2/i18n/ms.4ba82c9a51ce.js
collectstatic/admin/js/vendor/select2/i18n/ms.js
collectstatic/admin/js/vendor/select2/i18n/nb.da2fce143f27.js
collectstatic/admin/js/vendor/select2/i18n/nb.js
collectstatic/admin/js/vendor/select2/i18n/ne.3d79fd3f08db.js
collectstatic/admin/js/vendor/select2/i18n/ne.js
collectstatic/admin/js/vendor/select2/i18n/nl.997868a37ed8.js
collectstatic/admin/js/vendor/select2/i18n/nl.js
collectstatic/admin/js/vendor/select2/i18n/pl.6031b4f16452.js
collectstatic/admin/js/vendor/select2/i18n/pl.js
collectstatic/admin/js/vendor/select2/i18n/ps.38dfa47af9e0.js
collectstatic/admin/js/vendor/select2/i18n/ps.js
collectstatic/admin/js/vendor/select2/i18n/pt-BR.e1b294433e7f.js
collectstatic/admin/js/vendor/select2/i18n/pt-BR.js
collectstatic/admin/js/vendor/select2/i18n/pt.33b4a3b44d43.js
collectstatic/admin/js/vendor/select2/i18n/pt.js
collectstatic/admin/js/vendor/select2/i18n/ro.f75cb460ec3b.js
collectstatic/admin/js/vendor/select2/i18n/ro.js
collectstatic/admin/js/vendor/select2/i18n/ru.934aa95f5b5f.js
collectstatic/admin/js/vendor/select2/i18n/ru.js
collectstatic/admin/js/vendor/select2/i18n/sk.33d02cef8d11.js
collectstatic/admin/js/vendor/select2/i18n/sk.js
collectstatic/admin/js/vendor/select2/i18n/sl.131a78bc0752.js
collectstatic/admin/js/vendor/select2/i18n/sl.js
collectstatic/admin/js/vendor/select2/i18n/sq.5636b60d29c9.js
collectstatic/admin/js/vendor/select2/i18n/sq.js
collectstatic/admin/js/vendor/select2/i18n/sr-Cyrl.f254bb8c4c7c.js
collectstatic/admin/js/vendor/select2/i18n/sr-Cyrl.js
collectstatic/admin/js/vendor/select2/i18n/sr.5ed85a48f483.js
collectstatic/admin/js/vendor/select2/i18n/sr.js
collectstatic/admin/js/vendor/select2/i18n/sv.7a9c2f71e777.js
collectstatic/admin/js/vendor/select2/i18n/sv.js
collectstatic/admin/js/vendor/select2/i18n/th.f38c20b0221b.js
collectstatic/admin/js/vendor/select2/i18n/th.js
collectstatic/admin/js/vendor/select2/i18n/tk.7c572a68c78f.js
collectstatic/admin/js/vendor/select2/i18n/tk.js
collectstatic/admin/js/vendor/select2/i18n/tr.b5a0643d1545.js
collectstatic/admin/js/vendor/select2/i18n/tr.js
collectstatic/admin/js/vendor/select2/i18n/uk.8cede7f4803c.js
collectstatic/admin/js/vendor/select2/i18n/uk.js
collectstatic/admin/js/vendor/select2/i18n/vi.097a5b75b3e1.js
collectstatic/admin/js/vendor/select2/i18n/vi.js
collectstatic/admin/js/vendor/select2/i18n/zh-CN.2cff662ec5f9.js
collectstatic/admin/js/vendor/select2/i18n/zh-CN.js
collectstatic/admin/js/vendor/select2/i18n/zh-TW.04554a227c2b.js
collectstatic/admin/js/vendor/select2/i18n/zh-TW.js
collectstatic/admin/js/vendor/xregexp/LICENSE.bf79e414957a.txt
collectstatic/admin/js/vendor/xregexp/LICENSE.txt
collectstatic/admin/js/vendor/xregexp/xregexp.efda034b9537.js
collectstatic/admin/js/vendor/xregexp/xregexp.js
collectstatic/admin/js/vendor/xregexp/xregexp.min.b0439563a5d3.js
collectstatic/admin/js/vendor/xregexp/xregexp.min.js
collectstatic/assets/bootstrap/css/bootstrap.min.css
collectstatic/assets/bootstrap/js/bootstrap.min.js
collectstatic/assets/css/profile.css
collectstatic/assets/css/smoothproducts.css
collectstatic/assets/css/styles.css
collectstatic/assets/data/subject-list.json
collectstatic/assets/fonts/Simple-Line-Icons.eot
collectstatic/assets/fonts/simple-line-icons.min.css
collectstatic/assets/fonts/Simple-Line-Icons.svg
collectstatic/assets/fonts/Simple-Line-Icons.ttf
collectstatic/assets/fonts/Simple-Line-Icons.woff
collectstatic/assets/fonts/Simple-Line-Icons.woff2
collectstatic/assets/img/hijli.jpg
collectstatic/assets/img/star-empty.svg
collectstatic/assets/img/star-half-empty.svg
collectstatic/assets/img/star.svg
collectstatic/assets/img/avatars/avatar1.jpg
collectstatic/assets/img/avatars/avatar2.jpg
collectstatic/assets/img/avatars/avatar3.jpg
collectstatic/assets/img/scenery/image1.jpg
collectstatic/assets/img/scenery/image3.jpg
collectstatic/assets/img/scenery/image4.jpg
collectstatic/assets/img/scenery/image5.jpg
collectstatic/assets/img/scenery/image6.jpg
collectstatic/assets/img/tech/image1.jpg
collectstatic/assets/img/tech/image2.jpg
collectstatic/assets/img/tech/image3.png
collectstatic/assets/img/tech/image4.jpg
collectstatic/assets/js/base_fullscreen.js
collectstatic/assets/js/event.js
collectstatic/assets/js/index.js
collectstatic/assets/js/jquery.min.js
collectstatic/assets/js/register.js
collectstatic/assets/js/smoothproducts.min.js
collectstatic/assets/js/theme.js
