{% extends "layouts/base-fullscreen.html" %}

{% block title %} Reset Your Password {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block body_class %} {% endblock body_class %}

{% block content %}

    <main class="page login-page" style="background: url('/static/assets/img/hijli.jpg') top;filter: blur(0px);">
        <section class="clean-block clean-form dark" style="background: transparent;">
            <div class="container">
                <form method="post" action="" style="border-radius: 10px;margin-top: 50px;padding: 33px;border-color: rgb(255,255,255);">
                    {% csrf_token %}
                    <h1 style="font-size: 25px;text-align: center;padding: 10px;font-weight: 600;">KGPExpress - Reset Password</h1>
                    {% if validlink %}
                    <div class="form-group"><label for="password" style="font-size: 14px;">Password</label>
                        <div class="input-group">
                            <div class="input-group-prepend"><span class="input-group-text"><i class="fa fa-unlock-alt" style="width: 16px;"></i></span></div><input class="form-control" id="password" type="password" required="" minlength="8" maxlength="30" style="font-size: 14px;" name="new_password1" placeholder="Password" >
                            <div class="input-group-append"></div>
                        </div>
                    </div>
                    <div class="form-group"><label for="password_check" style="font-size: 14px;">Password Check</label>
                        <div class="input-group">
                            <div class="input-group-prepend"><span class="input-group-text"><i class="fa fa-unlock-alt" style="width: 16px;"></i></span></div><input class="form-control" id="password_check" type="password" placeholder="Password Check" style="font-size: 14px;" name="new_password2" required="" minlength="8" maxlength="30">
                            <div class="input-group-append"></div>
                        </div>
                        <span id='message'></span>
                    </div>
                    <button class="btn btn-primary btn-block" type="submit" style="font-size: 14px;">Change Password</button>
                    {% else %}
                    <div style="text-align: center;">
                        The password reset link was invalid, possibly because it has already been used. Please request a new password reset.
                    </div>
                    {% endif %}
                </form>

            </div>
        </section>
    </main>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
    <script src="/static/assets/js/register.js"></script>
{% endblock javascripts %}