{% extends "layouts/base-fullscreen.html" %}

{% block title %}Reset Your Password{% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block body_class %} {% endblock body_class %}

{% block content %}

    <main class="page login-page" style="background: url('/static/assets/img/hijli.jpg') top;filter: blur(0px);">
        <section class="clean-block clean-form dark" style="background: transparent;">
            <div class="container">

                <form method="post" action="" style="margin-top: 50px;padding: 33px;border-color: rgb(255,255,255);border-radius: 10px;">
                    {% csrf_token %}
                    <h1 style="font-size: 25px;text-align: center;padding: 10px;font-weight: 600;">KGPExpress</h1>
                    <p style="text-align: center;font-size: 13px;">
                        {% if msg %}
                            {{ msg | safe }}<br>
                        {% else %}
                            <div style="text-align: center";>
                            We've emailed you instructions for setting your password. You should receive the email shortly!<br>
                                Please check your spam once.<br><br>
                            <b>If you haven't received any email, please make sure you have an account with the email you entered.</b>
                            </div>
                        {% endif %}
                    </p>
                </form>
            </div>
        </section>
    </main>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
