<!DOCTYPE html>
<html>
<body>
To initiate the password reset process for your KGPExpress Account,
click the link below:<br><br>

<div style="text-align: center"><b>
    <a href="{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}">Click Here</a></b>
</div><br>
If clicking the link above doesn't work, please copy and paste the URL in a new browser
window instead.<br>
{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %} <br>

In,case you have forgot, your username for KGPExpress account is <b>{{ user.get_username }}</b><br>

Sincerely,<br>
The KGPExpress Team
</body>
</html>
