{% extends request.user.is_authenticated|yesno:"layouts/base-loggedin.html,layouts/base-fullscreen.html" %}

{% block title %}Event{% endblock%}
{% block content %}
<div class="clearfix" style="padding-top: 55px">
  <a class="btn btn-primary left" href="{% url 'app:userhome' %}"><i class="fas fa-backward"></i> Calendar</a>
</div>

<section class="clean-block">
  <div class="container">
    <div class="card align-middle" style="width: fit-content; min-width: 50%;margin: auto;">
      <div class="card-header">
        <h5>
          Event Details
        </h5>
      </div>
      <div class="card-body">
        <table class="table table-responsive" style="width: 100%;">
          <tbody>
            <tr>
              <th class="social-label b-none p-t-0">
                Event Name
              </th>
              <td class="social-user-name b-none p-t-0">
                {{ event.event_name }}
              </td>
            </tr>
            <tr>
              <th class="social-label b-none p-t-0">
                Event Type
              </th>
              <td class="social-user-name b-none p-t-0">
                {{ event.type }}
              </td>
            </tr>
            <tr>
              <th class="social-label b-none p-t-0">
                Subject
              </th>
              <td class="social-user-name b-none p-t-0 ">
                {{ subject_name }}
              </td>
            </tr>
            <tr>
              <th class="social-label b-none p-t-0">
                Start Time
              </th>
              <td class="social-user-name b-none p-t-0">
                {{ event.start_time|default_if_none:"-" }}
              </td>
            </tr>
            <tr>
              <th class="social-label b-none p-t-0">
                End Time
              </th>
              <td class="social-user-name b-none p-t-0">
                {{ event.end_time|default_if_none:"-" }}
              </td>
            </tr>
            <tr>
              <th class="social-label b-none p-t-0">
                Recurring
              </th>
              <td class="social-user-name b-none p-t-0">
                {{ event.is_recurring|yesno:"Yes,No" }}
              </td>
            </tr>
            <tr>
              <th class="social-label b-none p-t-0">
                Description
              </th>
              <td class="social-user-name b-none p-t-0">
                {{ event.description }}
              </td>
            </tr>
          </tbody>
        </table>
        <div class="right">
          <a class="btn btn-primary left" href="{% url 'app:event_edit' event_id=event.event_id %}"><i
              class="fas fa-edit"></i></a>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock content %}

{% block javascripts %}
<script src="/static/assets/js/event.js"></script>
{% endblock javascripts %}