{% extends "layouts/base-fullscreen.html" %} {% block title %}Home{% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/css/bootstrap-select.min.css"
/>
<link
  href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.10.0/css/bootstrap-select.min.css"
  rel="stylesheet"
/>

<!-- <meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" /> -->

<link href='/static/assets/css/fullcalendar.css' rel='stylesheet' />
<link href='/static/assets/css/fullcalendar.print.css' rel='stylesheet' media='print' />
<link href='/static/assets/css/index.css' rel='stylesheet' />
{% endblock stylesheets %} {% block body_class %} {%endblock body_class %}
{%block content %}

<main class="page landing-page" style="padding-top: 50px">
  <section class="clean-block payment-form dark" style="padding-bottom: 10px;">
    <div class="container" style="padding-top: 25px">
      <form name="form" method="get" action="" style="max-width: 100%">
        {% csrf_token %}

        <div class="card-details" style="padding: 15px; padding-bottom: 5px">
          <h3 class="title">Subject Details</h3>

          <div class="form-row">
            <div class="col-sm-7">
              <div class="form-group">
                <label for="card-holder">Subject</label>
                <!-- <select
                  id='select_subject'
                  name="subject"
                  class="form-control basicAutoSelect"
                  name="simple_select"
                  placeholder="type to search..."
                  data-url="/static/assets/data/subject_list.json"
                  data-live-search="true"
                ></select> -->
                <input
                  type="text"
                  id="subject"
                  class="form-control"
                  placeholder="Enter course code"
                  name="subject"
                  list="subject-list"
                />
                <datalist id="subject-list"></datalist>
              </div>
            </div>
            <div class="col-sm-5">
              <div class="form-group">
                <div class="form-row">
                  <div class="col" style="width: 35%">
                    <label>Semester</label>
                    <select class="custom-select" name="semester">
                      <option selected>Spring</option>
                      <option>Autumn</option>
                    </select>
                  </div>
                  <div class="col" style="width: 35%">
                    <label>Year</label>
                    <select class="custom-select" name="year">
                      <option selected>2021</option>
                      <option>2020</option>
                    </select>
                  </div>
                  <div class="col" style="width: 25%">
                    <div class="form-group">
                      <button
                        class="btn btn-primary btn-block"
                        type="submit"
                        style="
                          margin: 0px;
                          padding: 6px;
                          position: absolute;
                          bottom: 0px;
                          width: 95%;
                        "
                      >
                        Search
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </section>
    
  <section class="clean-block dark" >
    
    <div class="container card shadow round" style="background-color: white; padding: 0px;">
      <!-- <div class="container" > -->
        {% if subject %}
        <!-- <div class="card-body"> -->
          <h5 class="title" style="padding: 8px;">{{ subject }}</h5>
        <!-- </div> -->
        {% endif %}
      <div class="dark" style="border-width: 2px;border-color: aqua;">
        <div id='calendar' style="width: 95%;"></div>
      <div style='clear:both'></div>
      </div>
      
      <div class="clearfix">
        
        <a
          class="btn btn-outline-primary btn-sm left"
          href="{% url 'app:calendar' %}?{{ prev_month }}"
        >
          Previous Month
        </a>
        <a
          class="btn btn-outline-primary btn-sm right"
          href="{% url 'app:calendar' %}?{{ next_month }}"
        >
          Next Month
        </a>
        <!-- <a
          class="btn btn-outline-success btn-sm right"
          href="{% url 'app:event_new' %}"
          style="margin-right: 10px"
        >
          New Event
        </a> -->
      </div>
      {{ calendar }}
    </div>
  </section>
</main>
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script>
  var event_list = String("{{ event }}").replace(/&quot;/g,'"');
  
  // console.log(event_list)
</script>
<script src="https://cdn.jsdelivr.net/gh/xcash/bootstrap-autocomplete@master/dist/latest/bootstrap-autocomplete.min.js"></script>
<script src="/static/assets/js/index.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/bootstrap-select.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.10.0/js/bootstrap-select.min.js"></script>
<!-- <script src='/static/assets/js/jquery-1.10.2.js' type="text/javascript"></script> -->
<!-- <script src='/static/assets/js/jquery-ui.custom.min.js' type="text/javascript"></script> -->
<script src='/static/assets/js/fullcalendar.js' type="text/javascript"></script>

{% endblock javascripts %}

