{% extends "layouts/base-loggedin.html" %} {% block title %}Home{% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/css/bootstrap-select.min.css"
/>
<link
  href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.10.0/css/bootstrap-select.min.css"
  rel="stylesheet"
/>
<link href="/static/assets/css/fullcalendar.css" rel="stylesheet" />
<link
  href="/static/assets/css/fullcalendar.print.css"
  rel="stylesheet"
  media="print"
/>
<link href="/static/assets/css/index.css" rel="stylesheet" />
{% endblock stylesheets %} {% block body_class %} {%endblock body_class %}
{%block content %}

<main class="page landing-page" style="padding-top: 60px">
  <section class="clean-block payment-form" style="padding-bottom: 10px">
    <div class="container" style="padding-top: 25px">
      <form name="form" method="get" action="" style="max-width: 100%">
        {% csrf_token %}

        <div class="card-details" style="padding: 15px; padding-bottom: 5px">
          <h3 class="title">Subject Details</h3>

          <div class="form-row">
            <div class="col-sm-7">
              <div class="form-group">
                <label for="card-holder">Subject</label>
                <input
                  type="text"
                  id="subject"
                  class="form-control"
                  placeholder="Enter course code"
                  name="subject"
                  list="subject-list"
                />
                <datalist id="subject-list"></datalist>
              </div>
            </div>
            <div class="col-sm-5">
              <div class="form-group">
                <div class="form-row">
                  <div class="col" style="width: 35%">
                    <label>Semester</label>
                    <select class="custom-select" name="semester">
                      <option selected>Spring</option>
                      <option>Autumn</option>
                    </select>
                  </div>
                  <div class="col" style="width: 35%">
                    <label>Year</label>
                    <select class="custom-select" name="year">
                      <option selected>2021</option>
                      <option>2020</option>
                    </select>
                  </div>
                  <div class="col" style="width: 25%">
                    <div class="form-group">
                      <button
                        class="btn btn-primary btn-block"
                        type="submit"
                        style="
                          margin: 0px;
                          padding: 6px;
                          position: absolute;
                          bottom: 0px;
                          width: 95%;
                        "
                      >
                        Search
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </section>

  {% if search_result == True %}
  <section>
    <div class="container card" style="padding: 0px">
      <!-- <div class="container" > -->
      <div class="card-body">
        {% if subject %}
        
      <div class="row">
          <div class="col-9"><h5 class="card-title text-left">{{ subject }}</h5></div>
          <div class="col-3 d-flex justify-content-end">
            <a class="btn btn-sm btn-outline-primary" href="{% url 'app:event_new' %}" style="height: fit-content;"><i class="fa fa-plus" ></i>Add Event</a>
          </div>
        
      </div>
      <hr style="margin: 1px" />
        {% endif %}
        <div class="dark">
          <div id="calendar"></div>
          <div style="clear: both"></div>
        </div>
      </div>
    </div>
  </section>
  <section style="margin: 10px">
    <div class="card container text-left">
      <div class="card-body">
        <div class="card-title">
          <h4>Subject Details</h4>
        </div>
        <table class="table table-responsive m-b-0">
          <tbody>
            {% for k,v in subject_details.items %}
            <tr>
              <th class="social-label b-none">{{k}}</th>
              <td class="social-user-name b-none text-muted">{{v}}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </section>
  {% endif %}
</main>
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script>
  var data = String("{{ event }}");
  var event_list;
  function data_update(){
    event_list = eval(data.replace(/&quot;/g, '"'));
  }
  data_update(data);

  // {#console.log(data)#}
  // {#console.log(event_list)#}
</script>
<script src="https://cdn.jsdelivr.net/gh/xcash/bootstrap-autocomplete@master/dist/latest/bootstrap-autocomplete.min.js"></script>
<script src="/static/assets/js/fullcalendar.js" type="text/javascript"></script>
<script src="/static/assets/js/calender.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/bootstrap-select.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.10.0/js/bootstrap-select.min.js"></script>
{% endblock javascripts %}
